.item-text-multi {
    display: block;
    font-size: 0.9em;
    width: 100%;
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 150px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #77839c;
    margin-top: 10px;
    resize: none;
}

.item-text-single {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #77839c;
    font-size: 0.9em;
    min-width: 120px;
    margin-left: 10px;
}
